.order {
    display: flex;
    justify-content: center;
    color: #555;
}
.order-container {
    width: 1400px;
    padding: 50px 0px;
}
.head {
 display: flex;
 justify-content: space-between;
}

.order-table {
    width: 100%;
}

.order-table tr {
    height: 50px;
}
.order-table th {
    text-align: left;
}

.order-img {
    width: 50px;
    height: 25px;
    object-fit: cover;
}
.msg-logo {
    width: 25px;
    cursor: pointer;
}
.order-table tr:nth-child(even) {
    background-color: #1dbf730f;
}